<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <meta name="description" content="Start your development with Meyawo landing page.">
   <meta name="author" content="Devcrud">
   <title>Meyawo Landing page | Components</title>
   {% load static %}
   <!-- font icons -->
   <link rel="stylesheet" href="{% static  'assets/vendors/themify-icons/css/themify-icons.css' %}">
   <!-- Bootstrap + Steller  -->
   <link rel="stylesheet" href="{% static 'assets/css/meyawo.css' %}">
</head>
<body>
      <!-- devider -->
      <div class="py-5"></div> 
   
      <!-- tables -->
      <h3 class="components-section-title">Tables</h3>
      <hr>
      <table class="table">
         <thead>
            <tr>
               <th scope="col">#</th>
               <th scope="col">First</th>
               <th scope="col">Last</th>
               <th scope="col">Handle</th>
            </tr>
         </thead>
         <tbody>
            <tr>
               <th scope="row">1</th>
               <td>Mark</td>
               <td>Otto</td>
               <td>@mdo</td>
            </tr>
            <tr>
               <th scope="row">2</th>
               <td>Jacob</td>
               <td>Thornton</td>
               <td>@fat</td>
            </tr>
            <tr>
               <th scope="row">3</th>
               <td>Larry</td>
               <td>the Bird</td>
               <td>@twitter</td>
            </tr>
         </tbody>
      </table>

      <h6 class="section-secondary-title mt-5">Striped rows :</h6>
      <table class="table table-striped">
         <thead>
            <tr>
               <th scope="col">#</th>
               <th scope="col">First</th>
               <th scope="col">Last</th>
               <th scope="col">Handle</th>
            </tr>
         </thead>
         <tbody>
            <tr>
               <th scope="row">1</th>
               <td>Mark</td>
               <td>Otto</td>
               <td>@mdo</td>
            </tr>
            <tr>
               <th scope="row">2</th>
               <td>Jacob</td>
               <td>Thornton</td>
               <td>@fat</td>
            </tr>
            <tr>
               <th scope="row">3</th>
               <td>Larry</td>
               <td>the Bird</td>
               <td>@twitter</td>
            </tr>
         </tbody>
      </table>

      <h6 class="section-secondary-title mt-5">Bordred :</h6>
      <table class="table table-bordered">
         <thead>
            <tr>
               <th scope="col">#</th>
               <th scope="col">First</th>
               <th scope="col">Last</th>
               <th scope="col">Handle</th>
            </tr>
         </thead>
         <tbody>
            <tr>
               <th scope="row">1</th>
               <td>Mark</td>
               <td>Otto</td>
               <td>@mdo</td>
            </tr>
            <tr>
               <th scope="row">2</th>
               <td>Jacob</td>
               <td>Thornton</td>
               <td>@fat</td>
            </tr>
            <tr>
               <th scope="row">3</th>
               <td colspan="2">Larry the Bird</td>
               <td>@twitter</td>
            </tr>
         </tbody>
      </table>
      <!-- end of tables -->

      <!-- devider -->
      <!-- end of page footer -->
   
   <!-- core  -->
   <script src="{% static  'assets/vendors/jquery/jquery-3.4.1.js' %}"></script>
   <script src="{% static 'assets/vendors/bootstrap/bootstrap.bundle.js' %}"></script>

</body>
</html>
